body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.cambiarPagina{
    font-size: 2em;
    color: grey;
    width: 10%;
    margin: 2% auto;
    background-color: white;
}
.cambiarPagina a{
    color: grey;
}
/* AQUI PUEDEN CAMBIAR EL COLOR DE LAS FLECHAS */
.cambiarPagina a:hover{
    color: rgb(47, 0, 255);
    
}
.container{
    background-color: rgb(6, 14, 6);
}
img{
    width: 100%;
    /* margin: 1% 10px 2% 1%; */
    height: 200px;
}
img:hover{
    animation: moveRight 3s;
}
.lastOne{
    margin-bottom: 10%;
}
.dropdown{
    display: inline;
}
.hola{
    position: absolute;
    right: 100%;
    top: 1%;
}
@keyframes moveRight{
    0%{
        opacity: 0.2;
    }
    50%{
        translate: 50px;
    }
    100%{
        opacity: 1;
    }
}